/* DOCK - bottom */

#dockbottom {
  bottom: 0;
  position: fixed;
  
  /*clear: both;*/
  width: 100%;
  /*border: 1px solid #999;*/
  /*border-bottom: 0;*/
  padding: 0 0 0 0;
  height: 35px;
  background-color: #999;
  z-index: 11000; /*Allow layering*/*/
  
}
#dockbottom-inner {
  text-align: left;
  width: 200px;
  height: 32px;
  float: left;
  padding: 0 0 0 0;
  position: relative;
  overflow: visible; /*Make sure it doesnt crop the widget*/
  background-color: #ccc
}


#dockbottom-inner .block-inner {
  padding: 0
}


.dockleft-block {
  display: block;
  width: 200px;
  position: absolute;
  left: 10px;
  bottom: 0;
  width: auto!important;
  /*overflow: visible*/
}


.dockmiddle-block {
  float: left;
  display: block;
  margin-right: 20px;
  min-width: 30%;
  width: auto!important
}


/*this is specific to chat/meebo/gtalk, etc.*/
.dockright-block {
  display: block;
  width: 200px;
  position: fixed;
  right: 10px;
  bottom: 0;
  width: auto!important;
  overflow: visible;
  z-index: 11001;
}


/*reset default*/
.dockright-block .block {
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center
}


#chat {
  width: 350px;
  height: 450px;
  position: relative;
  z-index: 11002; /*value above #dockbottom-inner*/ 
  display: none; /*hide the widget, let jquery play*/
  padding-top: 8px;
  background-color: #E8E9ED;
  /*border: 1.5px solid #ADADAD;*/
  border-bottom: 0;
  
}


.slider {
  float: right;
  position: relative;
  z-index: 11003; /*value above #chat*/
  width: 175px;
  height: 25px;
  padding: 0 0 0 0;
  margin-bottom: 5px;
  background-color: #E8E9ED;
  /*border: 1.5px solid #ADADAD;*/
  border-top: 0;
}


.toggleup,
.toggledown {
  text-align: center;
  display: block;
  line-height: 22px;
  background-color: #E8E9ED; /*Match .slider*/
}