@* nuevo Template File *@
@(problemaForm: play.data.Form[models.entities.Problema])
@main(menuDocente()){
	@inputs.panel("NUEVO PROBLEMA", true){
		@inputs.flashSuccessError()		
		<div class="col-md-6">
			@helper.form(routes.ProblemaController.registrarProblema, 'class -> "form-horizontal"){
				<div class="col-md-12">					
					<div class="form-group">
                    	<label class="col-sm-2 control-label" for="titulo">Titulo</label>
                     	<div class="col-sm-8">
                        	<input type="text" class="form-control" id="titulo"
                               name="titulo" required>
                    	</div>
                  	</div>
                  	<div class="form-group">
                    	<label class="col-sm-2 control-label" for="enunciado">Enunciado</label>
                     	<div class="col-sm-10">
                            <textarea class="form-control" rows="5" id="enunciado"
                            name="enunciado" required="true"></textarea>
                    	</div>
                  	</div>
                  	<div class="form-group">
					    <div class="col-sm-offset-2 col-sm-8">
					      <button type="submit" class="btn btn-primary">Guardar</button>
					      <a class="btn btn-default" href="@routes.ProblemaController.index">Cancelar</a>
					    </div>
					    
				  	</div>					
				</div>
			
			}		
		</div>
	} 
}
