@(name: String, value: Date)
@formatDate(date: java.util.Date, f: String) = @{
	val sdf = new java.text.SimpleDateFormat(f);
	sdf. setTimeZone(TimeZone.getTimeZone("GMT-0500"));
	if(date != null) sdf.format(date) else "--"
}
<div class="input-group date" >
    <input name="@name" class="form-control" type="text" @if(value != null){value="@formatDate(value, FormatoFechaHora.dateFormat)"} />
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
</div>
<script>
$(function() {
	var fecha = $('[name="@name"]').parent().datepicker({
		format: 'dd/mm/yyyy',
		autoclose : true,
		language: 'es',
		startDate : 'today'
	});
});
</script>
