@(grupoExperto: models.entities.GrupoExperto)
@main(menuDocente()) {
    <div class="container"> 
        <div class="panel panel-default">
        <div class="panel-heading">Alumnos - GrupoExperto</div>
	        <div class="panel-body">
	     	@if(flash.containsKey("error")){
	     		<div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<span class="glyphicon glyphicon-remove-sign"></span> @flash().get("error")
				</div>
	     	}
	        <div class="col-md-8">
	        <h2>@grupoExperto.getNombre</h2>
	        <hr />
	        @helper.form(routes.GruposExpertos.definirAlumnos(grupoExperto.getGrupoExpertoId())){
	            <div class="form-group">
	                <div class="row">
	                    <div class="col-md-6">
	                        <div class="input-group">
	                        <input type="text" class="form-control" id="input-buscar" placeholder="Buscar nombre/DNI" />
	                        <span class="input-group-btn">
	                            <button class="btn btn-default" type="button" id="boton-buscar"> 
	                                <span class="glyphicon glyphicon-search"></span>
	                             </button>
	                        </span>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="form-group">
	                <select multiple="multiple" size="10" name="alumnos[]" class="demo">
	                	@grupoExperto.getAlumnos.map { alumno =>
	                		<option value="@alumno.getDNI" selected="selected">@alumno.getNombreCompleto</option>
	                	}
	                </select>
	                <script>
	                    $(function(){ 
		                    /*$('[name="alumnos[]"]').bootstrapDualListbox({
	                    		nonSelectedListLabel: 'Alumnos',
	                    		selectedListLabel: 'Integrantes del GrupoExperto'
		                    });*/ 
		                    var demo = $('.demo').bootstrapDualListbox({
		                    	nonselectedlistlabel: 'ALUMNOS DISPONIBLES',
	                    		selectedlistlabel: 'GRUPO EXPERTO'
		                    });
	                    });
	                </script>
	            </div>
	            <div class="form-group">
	                <button type="submit" class="btn btn-primary">Registrar alumnos</button>
	                <a class="btn btn-default" href="@routes.GruposExpertos.index">Cancelar</a>
	            </div>
	        }
	        </div>
        </div>
	    </div>
    </div>
    <script src="@routes.Assets.at("js/bootstrap-duallistbox.js")" type="text/javascript" ></script>
    <script src="@routes.Assets.at("js/mainAlumnoToGrupo.js")" type="text/javascript" ></script>
}