@* editarGrupoExperto Template File *@
@(id: Long, grupoExpertoForm: play.data.Form[models.entities.GrupoExperto])
@main(menuDocente()){
	@inputs.panel("EDITAR PROBLEMA", true){
		@helper.form(routes.GruposExpertos.actualizarGrupoExperto(id), 'class -> "form-horizontal"){
			<fieldset>				
				<div class="form-group">
                   	<label class="col-sm-4 control-label" for="nombre">Nombre</label>
                   	<div class="col-sm-6">
                       	<input type="text" class="form-control" id="nombre" value="@grupoExpertoForm("nombre").value()"
                               name="nombre" required>
                   	</div>
               	</div>
               	<div class="form-group">
					<label class="col-sm-4 control-label" for="descripcion">Descripción</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="descripcion" value="@grupoExpertoForm("descripcion").value()"
                               name="descripcion">
                    </div>
				</div>
               	<div class="form-group">
                  	<label class="col-sm-4 control-label" for="maximoAlumnos">Maximo Alumnos</label>
                   	<div class="col-sm-3">
                          <input type="number" class="form-control" id="maximoAlumnos"
                          value="@grupoExpertoForm("maximoAlumnos").value()"
                             name="maximoAlumnos" required>                            
                  	</div>
               	</div>
				
               	<div class="form-group">
				    <div class="col-sm-offset-4 col-sm-6">
				      <button type="submit" class="btn btn-primary">Guardar</button>
				      <a class="btn btn-default" href="@routes.GruposExpertos.index">Cancelar</a>
				    </div>
			  	</div>
			</fieldset>
		}
		
		    @helper.form(routes.GruposExpertos.eliminarGrupoExperto(id), 'class -> "form-horizontal") {
		        <input type="submit" value="Borrar Grupo Experto" class="btn btn-danger">
		    }
	    
	}
}
