@* editarGrupoExperto Template File *@
@(id: Long, grupoExpertoForm: play.data.Form[models.entities.GrupoExperto])
@import myHelpers._
@implicitFieldConstructor = @{ views.html.helper.FieldConstructor(twitterBootstrapInput.render) } 
@main(menuDocente()){
	@inputs.panel("EDITAR PROBLEMA", true){
		@helper.form(routes.GruposExpertos.actualizarGrupoExperto(id), 'class -> "form-horizontal"){
			<fieldset>				
				<div class="form-group">
                   	<label class="col-sm-2 control-label" for="nombre">Nombre</label>
                   	<div class="col-sm-8">
                       	<input type="text" class="form-control" id="nombre" value="@grupoExpertoForm("nombre").value()"
                               name="nombre" required>
                   	</div>
               	</div>
				
               	<div class="form-group">
				    <div class="col-sm-offset-2 col-sm-8">
				      <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
				    </div>
			  	</div>
			</fieldset>
		}
		
		    @helper.form(routes.GruposExpertos.eliminarGrupoExperto(id), 'class -> "form-horizontal") {
		        <input type="submit" value="Borrar Grupo Experto" class="btn btn-danger">
		    }
	    
	}
}
