@* nuevo Template File *@
@(grupoExpertoForm: play.data.Form[models.entities.GrupoExperto])
@main(menuDocente()){
	@inputs.panel("NUEVO GRUPO EXPERTO", true){
		@if(flash.containsKey("success")){
		<div class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>
			<span class="glyphicon glyphicon-ok-sign"></span> @flash.get("success")
		</div>
		} 
		@if(flash.containsKey("error")){
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert"
				aria-hidden="true">&times;</button>
			<span class="glyphicon glyphicon-remove-sign"></span>
			@flash().get("error")
		</div>
		} 
		
		<div class="col-md-6">
			@helper.form(routes.GruposExpertos.registrarGrupoExperto, 'class -> "form-horizontal"){
				<div class="col-md-12">					
					<div class="form-group">
                    	<label class="col-sm-4 control-label" for="nombre">Nombre</label>
                     	<div class="col-sm-6">
                        	<input type="text" class="form-control" id="nombre"
                               name="nombre" required>
                    	</div>
                  	</div>
                  	<div class="form-group">
						<label class="col-sm-4 control-label" for="descripcion">Descripción</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="descripcion" name="descripcion">
						</div>
					</div>
                  	<div class="form-group">
                    	<label class="col-sm-4 control-label" for="maximoAlumnos">Maximo Alumnos</label>
                     	<div class="col-sm-3">
                            <input type="number" class="form-control" id="maximoAlumnos"
                               name="maximoAlumnos" required>                            
                    	</div>
                  	</div>
                  	<div class="form-group">
					    <div class="col-sm-offset-4 col-sm-8">
					      <button type="submit" class="btn btn-primary">Guardar</button>
					      <a class="btn btn-default" href="@routes.GruposExpertos.index">Cancelar</a>
					    </div>
				  	</div>					
				</div>
			
			}		
		</div>
	} 
}
