@* faseExpertos Template File *@
@(alumno: models.entities.Alumno, grupoExperto : models.entities.GrupoExperto, sesionJigsaw: models.entities.SesionJigsaw,  firepadid: String)
@main(menuAlumno()){
	@inputs.firepadHeader()
	
	<!-- Clock -->
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/clockmain.css")">        
	
	<!-- Chat -->
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/chat.css")">
	   
	<style type="text/css">
		.firepad {
		  width: 100%;
		  height: 500px;
		  background-color: #f62; /* dark orange background */	  
		}
	</style>
	
	<div id="dockbottom" class="row">	    	      
        <div class="dockright-block">
	        <div id="chat">	
				<div clas="col-md-3">			
					@views.html.chat.interfazChat(alumno, grupoExperto)
				</div>
			</div>
			<div class="slider"><a class="toggleup" href="#">CHAT</a></div>	         
        </div>	      
  	</div>
	
	
	
	<div class="row">
		
		<div class="col-md-3">
			<div class="row">
				<p id="clock"></p>
				<script type="text/javascript" charset="utf-8">
			       if (!!window.EventSource) {
			         var source = new EventSource("@routes.ClockController.liveClock(sesionJigsaw.getId())");
			         source.addEventListener('message', function(e) {
			            $('#clock').html(e.data.replace(/(\d)/g, '<span>$1</span>'));
			         });
			       } else {
			         $("#clock").html("Sorry. This browser doesn't seem to support Server sent event."); 
			       }
			    </script>
			</div>
			
			<div class="row">
			<h1>@grupoExperto.getProblema.getTitulo()</h1>
			<p>@grupoExperto.getProblema.getEnunciado()</p>
			</div>
			 
		</div>
		<div class="col-md-5">
			<div class="row form-inline">
				<div class="form-group">
					<label>Lenguaje de Programación</label>
					<select  id="language">			
						<option value="4">Python (python 2.7.3)</option>
						<option value="1" >C++ 4.8.1 (gcc-4.8.1)</option>
					  	<option value="55">Java7 (sun-jdk-1.7.0_10)</option>					  
					</select>
				</div>
				<div class="form-group">
					<button type="button" id="@firepadid-boton-run" class="btn btn-success"
					data-loading-text="Procesando..." autocomplete="off">
						<span class="glyphicon glyphicon-cog"></span> run									
					</button>									
				</div>
			</div>
			<div id="@firepadid" class="row firepad"></div>
			
		</div>
		<div class="col-md-4">
			<div class="row">
				<div id="@firepadid-stdin" class="collapse in">
					<h4 class="text-center">INPUT. Data de prueba</h4>
					<textarea id="@firepadid-input-stdin" name="@firepadid-stdin" class="form-control" rows="5" placeholder="Ingrese su data de prueba y luego presione run" ></textarea>
				</div>
			</div>
			<div class="row"  >
				<div id="@firepadid-resultados" class="collapse in">
					<h4 class="text-center">RESULTADOS DE EJECUCIÓN</h4>
					<div id="@firepadid-ideoneResultados">
						<div class="well">Presione run para ejecutar su código fuente</div>
					</div>  
				</div>			    
			</div>
			<div class="row">			
				<button type="button" id="@firepadid-boton-stdin" class="btn btn-default" data-toggle="collapse"  
					data-target="#@firepadid-stdin" aria-expanded="true" aria-controls="@firepadid-stdin" 
					data-placement="top">
				  <span class="glyphicon glyphicon-hdd"></span> Input
				</button>			
				
				<button type="button" id="@firepadid-boton-ver" class="btn btn-primary" data-toggle="collapse"
					data-target="#@firepadid-resultados" aria-expanded="true" aria-controls="@firepadid-resultados" 
					data-placement="top">
						<span class="glyphicon glyphicon-th-list"></span> Resultados									
				</button>
			</div>				
		</div>		
	</div>
	
	  
	<script type="text/javascript" charset="utf-8" src="@routes.SesionJigsawController.firepadJs(firepadid, alumno.getDNI().toString)"></script>
	
}
