@* listaSesionesJigsaw Template File *@
@(currentPage: com.avaje.ebean.Page[models.entities.SesionJigsaw], 
	currentSortBy: String, currentOrder: String, currentFilter: String)
@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }    
    // Generate the link
    routes.SesionJigsawController.listForAlumno(newPage, sortBy, order, currentFilter)
}
@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@splural(n: Integer) = @{
	if(n==1) "" else "s"
}
@stringDuracionRE(sesionJigsaw: models.entities.SesionJigsaw) = @{
	if(sesionJigsaw.getDuracionReunionExpertos() == null){
		"--"
	}else{
		val horas = sesionJigsaw.getDuracionReunionExpertos() / 60
		val minutos = sesionJigsaw.getDuracionReunionExpertos() % 60
		(horas, minutos) match {
			case (0, _) => minutos + " minuto" + splural(minutos)
			case (_, 0) => horas + " hora" + splural(horas)
			case _ => horas + " hora" + splural(horas) + ", " + minutos + " minuto" + splural(minutos)
		}
	}
}
@stringDuracionRJ(sesionJigsaw: models.entities.SesionJigsaw) = @{
	if(sesionJigsaw.getDuracionReunionJigsaw() == null){
		"--"
	}else{
		val horas = sesionJigsaw.getDuracionReunionJigsaw() / 60
		val minutos = sesionJigsaw.getDuracionReunionJigsaw() % 60
		(horas, minutos) match {
			case (0, _) => minutos + " minuto" + splural(minutos)
			case (_, 0) => horas + " hora" + splural(horas)
			case _ => horas + " hora" + splural(horas) + ", " + minutos + " minuto" + splural(minutos)
		}
	}
}
@stringDuracionEX(sesionJigsaw: models.entities.SesionJigsaw) = @{
	if(sesionJigsaw.getDuracionExamen() == null){
		"--"
	}else{
		val horas = sesionJigsaw.getDuracionExamen() / 60
		val minutos = sesionJigsaw.getDuracionExamen() % 60
		(horas, minutos) match {
			case (0, _) => minutos + " minuto" + splural(minutos)
			case (_, 0) => horas + " hora" + splural(horas)
			case _ => horas + " hora" + splural(horas) + ", " + minutos + " minuto" + splural(minutos)
		}
	}
}
@formatDate(date: java.util.Date, f: String) = @{
	val sdf = new java.text.SimpleDateFormat(f);
	sdf. setTimeZone(TimeZone.getTimeZone("GMT-0500"));
	if(date != null) sdf.format(date) else "--"
}
@stringInicioExamen(sesionJigsaw: models.entities.SesionJigsaw) = @{
	if(sesionJigsaw.getTiempoAperturaExamen == null) "--"; else {
    	val inicio = java.util.Calendar.getInstance();
    	inicio.setTime(sesionJigsaw.getTiempoAperturaExamen);
    	val fin = java.util.Calendar.getInstance();
    	fin.setTime(sesionJigsaw.getTiempoClausuraExamen);
    	if(inicio.get(Calendar.DAY_OF_MONTH) == fin.get(Calendar.DAY_OF_MONTH)){
    		formatDate(sesionJigsaw.getTiempoAperturaExamen, FormatoFechaHora.dateFormat) + ", " +
    			formatDate(sesionJigsaw.getTiempoAperturaExamen, FormatoFechaHora.timeFormat12) + " hasta " +
    			formatDate(sesionJigsaw.getTiempoClausuraExamen, FormatoFechaHora.timeFormat12)
    	}else{
    		formatDate(sesionJigsaw.getTiempoAperturaExamen, FormatoFechaHora.dateFormat) + ", " +
    			formatDate(sesionJigsaw.getTiempoAperturaExamen, FormatoFechaHora.timeFormat12) + " hasta " +
        		formatDate(sesionJigsaw.getTiempoClausuraExamen, FormatoFechaHora.dateFormat) + " " +
    			formatDate(sesionJigsaw.getTiempoClausuraExamen, FormatoFechaHora.timeFormat12)
    	}
	}
}
@main(menuAlumno()){
	<h1 id="homeTitle">@Messages("sesionesJigsaw.list.title", currentPage.getTotalRowCount)</h1>
	@inputs.flashSuccessError()
    <div id="actions" class="row">
        <div class="pull-left">
	        <form action="@link(0, "id")" method="GET" class="form-inline" role="form">            
	            <div class="form-group">
	            	<input class="form-control" type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Buscar por tema">
				</div>
				<button type="submit" class="btn btn-primary" id="searchsubmit">Buscar</button>
	        </form>
        </div>
    </div>
    <br>
    <div class="row">
    @if(currentPage.getTotalRowCount == 0) {  
    <div class="col-md-12 ">
    	<div class="well">
            <em>Nada para mostrar</em>
        </div>
    </div>
    } else {
      <div class="col-md-12"><br></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    @header("tema", "TEMA")
                    <th>FASE DE EXPERTOS</th>
                    <th>FASE JIGSAW</th>
                    <th>FASE EVALUACIÓN</th>                
                </tr>
            </thead>
            <tbody>
            @currentPage.getList.map { sesionJigsaw =>
           	<tr>            	
            	<td>@sesionJigsaw.getTema()</td>	

            	<td>
            		<ul>
            			<li>
            				<label>Fecha de inicio: </label>
            				@formatDate(sesionJigsaw.getInicioReunionExpertos(), FormatoFechaHora.dateTimeFormat12)
            			</li>
            			<li>
            				<label>Duración: </label>
            				@stringDuracionRE(sesionJigsaw)
            			</li>
            			
            			
            				<a class="btn btn-success" 
            				href="@routes.SesionJigsawController.interfazFaseExpertos(sesionJigsaw.getId())">
            				Unirse a reunión de Expertos</a>
            			
            			
            		</ul>
            	</td>
            	<td>
            		<ul>
            			<li>
            				<label>Fecha de inicio: </label>
            				@formatDate(sesionJigsaw.getInicioReunionJigsaw(), FormatoFechaHora.dateTimeFormat12)
            			</li>
            			<li>
            				<label>Duración: </label>
            				@stringDuracionRJ(sesionJigsaw)
            			</li>
            			
            				<a class="btn btn-success"
            				href="@routes.SesionJigsawController.interfazFaseJigsaw(sesionJigsaw.getId())">
            				Unirse a reunión Jigsaw</a>
            			
            		</ul>
            	</td>
            	<td>
            		<ul>
            			<li>
            				<label>Fecha de inicio: </label>
            				@stringInicioExamen(sesionJigsaw)
            			</li>
            			<li>
            				<label>Duración: </label>
            				@stringDuracionEX(sesionJigsaw)
            			</li>
            			<a class="btn btn-success"href="@routes.SesionJigsawController.interfazEvaluacion(sesionJigsaw.getId())">Rendir Examen</a>
            		</ul>
            	</td>
            	
            	
            	               
           	</tr>
           	}      
            </tbody>
        </table>
		
        <div id="pagination" class="col-md-12">
            <ul class="pager">
                @if(currentPage.hasPrev) {
                    <li class="previous">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Anterior</a>
                    </li>
                } else {
                    <li class="previous disabled">
                        <a>&larr; Anterior</a>
                    </li>
                }
                <li class="active">
                    <a>Mostrando @currentPage.getDisplayXtoYofZ(" - "," de ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Siguiente &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Siguiente &rarr;</a>
                    </li>
                }
            </ul>
        </div>        
    }
    </div> 
}

