@* lsitaExamenes Template File *@
@(examenes: List[models.entities.Examen], alumno: models.entities.Alumno)
@formatDate(date: java.util.Date, f: String) = @{
    if(date != null) date.format(f) else "--"
}
@dioExamen(examen: models.entities.Examen, alumno: models.entities.Alumno) = @{
	(new models.services.ExamenService).existeNotaExamen(alumno, examen)
}
@nota(examen: models.entities.Examen, alumno: models.entities.Alumno) = @{
	if(dioExamen(examen, alumno)){
		val n = Integer.parseInt(alumno.getNotaExamen(examen.getId()));
		if( n < 11){
			<h2><p class="text-danger">{n}</p></h2>
		}else{
			<h2><p class="text-primary">{n}</p></h2>
		}
	}else{
		<p>Examen sin corregir</p>
	}
}
@main(menuAlumno()){
	<div class="container">
		
		@inputs.panel("Examenes", true){
			@inputs.flashSuccessError()
			@if(examenes.size() ==0 ){
            	<div class="well">Ud. no tiene examenes</div>
            }else{
            <div class="col-md-6 col-md-offset-3">
            	<table class="table table-bordered">
					<tr>
	                    <th>Examen</th>	                    
	                    <th>NOTA</th>
	                </tr>
		                @examenes.map{ examen => 
		                	<tr>
		                        <td>@examen.getTitulo</td>	                        
		                        <td>@nota(examen, alumno)</td>
		                    </tr>
		                }
	                }
	                
				</table>
            </div>
				
		}
	</div>
}