@* resolverProblema Template File *@
@(sesionJigsaw: models.entities.SesionJigsaw,  grupoJigsaw : models.entities.GrupoJigsaw, p: models.entities.Problema, alumno:models.entities.Alumno)
@firepadid = @{"sj"+sesionJigsaw.getId()+"gj"+grupoJigsaw.getId()+"p"+p.getId()}
@hangoutid = @{firepadid+"hangout"}
<div class="row">
	<div class="col-md-3"><p class="bg-success">@p.getEnunciado()</p></div>
	<div class="col-md-5">
		
			<div class="row form-inline">
				<div class="form-group">
					<label>Lenguaje</label>
					<select  id="@firepadid-language">			
						<option value="4">Python (python 2.7.3)</option>
						<option value="1" >C++ 4.8.1 (gcc-4.8.1)</option>
					  	<option value="55">Java7 (sun-jdk-1.7.0_10)</option>					  
					</select>
				</div>
				<div class="form-group">
					<button type="button" id="@firepadid-boton-run" class="btn btn-success"
					data-loading-text="Procesando..." autocomplete="off">
						<span class="glyphicon glyphicon-cog"></span> Compilar									
					</button>									
				</div>
			</div>
		
		
		<div id="@firepadid" class="row firepad"></div>						
	</div>
	<div class="col-md-4">
		<div class="row">
			<div id="ajaxloader@firepadid" class="col-md-6 col-md-offset-3"></div>
		</div>
		<div id="panelResultados@firepadid">
			<div class="row">
				<div id="@firepadid-stdin" class="collapse">
					<h4 class="text-center">INPUT. Data de prueba</h4>
					<textarea id="@firepadid-input-stdin" name="@firepadid-stdin" class="form-control" rows="5"
					placeholder="Ingrese su data de prueba y luego presione Compilar" ></textarea>
				</div>
			</div>
			<div class="row"  >
				<div id="@firepadid-resultados" class="collapse in">
					<h4 class="text-center">RESULTADOS DE EJECUCIÓN</h4>
					<div id="@firepadid-ideoneResultados">
						<div class="well">Presione Compilar para ejecutar su código fuente</div>
						
					</div>
					 
				</div>			    
			</div>
			<div class="row">			
				<button type="button" class="btn btn-default" data-toggle="collapse"  
					data-target="#@firepadid-stdin" aria-expanded="true" aria-controls="@firepadid-stdin" 
					data-placement="top" title ="Ingrese su Input">
				  <span class="glyphicon glyphicon-hdd"></span> Ingresar INPUT
				</button>			
				
				<button type="button" id="@firepadid-boton-ver" class="btn btn-primary" data-toggle="collapse"
					data-target="#@firepadid-resultados" aria-expanded="true" aria-controls="@firepadid-resultados" 
					data-placement="top">
						<span class="glyphicon glyphicon-cog"></span> Mostrar OUTPUT									
				</button>
			</div>	
		</div>
	</div>
	
	<script type="text/javascript" charset="utf-8" src="@routes.SesionJigsawController.firepadFaseJigsawJs(firepadid, alumno.getDNI().toString)"></script>
</div>