@* resultadosIdeoneRun Template File *@
@(isd: models.services.ideone.IdeoneSubmissionDetails, firepadid: String)
<div class="container col-md-12">
@if(isd == null){
	<div class="well">Ocurrió un problema al ejecutar su código.</div>
}else{
	<input type="hidden" name="respuestas[]" value="@firepadid;@isd.getLink()"/> 
	<table class="table table-condensed">
		<tr><td>RESULTADO</td><td>@models.services.ideone.IdeoneService.translateResult(isd.getResult())</td></tr>
		<tr><td>LENGUAJE</td><td>@isd.getLangVersion()</td></tr>
		<tr><td>MEMORIA</td><td>@isd.getMemory() KB</td></tr>
		<tr><td>TIEMPO</td><td>@isd.getTime()</td></tr>
		<tr><td>IDEONE LINK</td><td><a href="http://www.ideone.com/@isd.getLink()" target="_blank"><span id="link">@isd.getLink()</span></a></td></tr>
		<tr><td>INPUT</td><td>OUTPUT</td></tr>
		<tr>
			<td><textarea rows="5" class="form-control" readonly="readonly">@isd.getInput()</textarea></td>
			<td><textarea rows="5" class="form-control" readonly="readonly">@isd.getOutput()</textarea></td>
		</tr>
	</table>	
	@if(!isd.getCmpinfo().isEmpty()){
		<label class="control-label">Información de compilación</label>
		<div class="row">
			<textarea rows="7" class="form-control">@isd.getCmpinfo()</textarea>		
		</div>
	}	
}
</div>
