@* corregirExamenAlumno Template File *@
@(s: models.entities.SesionJigsaw, a: models.entities.Alumno, e: models.entities.Examen, 
	respuestas: Map[models.entities.RespuestasAlumno, models.services.ideone.IdeoneSubmissionDetails])
@main(menuDocente()){
	@inputs.flashSuccessError()	
	<!-- CodeMirror and its JavaScript mode file -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/codemirror.js"></script>
	<script src="@routes.Assets.at("js/codemirror-clike-python.js")" type="text/javascript"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/codemirror.css" />
	<link rel="stylesheet" media="all" href="@routes.Assets.at("css/codemirror-theme-monokai.css")">
	
	<div class="container">
	<form method="POST" action="@routes.SesionJigsawController.calificarExamen(s.getId(), a.getDNI(), e.getId())">
		<label><h1>@a.getNombreCompleto()</h1></label>
		<label>@e.getTitulo()</label>
		<div class="pull-right"><button type="submit" class="btn btn-danger">CALIFICAR EXAMEN</button></div>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  			@respuestas.keySet().map { r => 			
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="heading@r.getProblemaExamen().getProblema().getId()">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" 
				        href="#collapse@r.getProblemaExamen().getProblema().getId()" aria-expanded="true" 
				        aria-controls="collapse@r.getProblemaExamen().getProblema().getId()">
				        @r.getProblemaExamen().getProblema().getTitulo()
				        </a>
				      </h4>
				    </div>
				    <div id="collapse@r.getProblemaExamen().getProblema().getId()" 
				    class="panel-collapse collapse" role="tabpanel" 
				    aria-labelledby="heading@r.getProblemaExamen().getProblema().getId()">
			      		<div class="panel-body">
			        		@corregirProblema(respuestas.get(r), r)
			      		</div>
				    </div>
			 	</div>
			} 
		</div>
	</form>	
	</div>
	<script>
		$(function(){
			//$("iframe").each(function() { 
		        //var src= $(this).attr('src');
		        //console.log(src);
		        //$(this).src = $(this).src
		        //$(this).attr('src',src);
				//this.contentWindow.location.reload(true);
				//$(this).attr( 'src', function ( i, val ) { return val; });
			//});
		});
	</script>
}
