@* listaSesionesJigsaw Template File *@
@(currentPage: com.avaje.ebean.Page[models.entities.SesionJigsaw], 
	currentSortBy: String, currentOrder: String, currentFilter: String)
@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }    
    // Generate the link
    routes.SesionJigsawController.list(newPage, sortBy, order, currentFilter)
}
@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}
@splural(n: Integer) = @{
	if(n==1) "" else "s"
}
@stringDuracionRE(sesionJigsaw: models.entities.SesionJigsaw) = @{
	val horas = sesionJigsaw.getDuracionReunionExpertos() / 60
	val minutos = sesionJigsaw.getDuracionReunionExpertos() % 60
	(horas, minutos) match {
		case (0, _) => minutos + " minuto" + splural(minutos)
		case (_, 0) => horas + " hora" + splural(horas)
		case _ => horas + " hora" + splural(horas) + ", " + minutos + " minuto" + splural(minutos)
	}
}
@stringDuracionRJ(sesionJigsaw: models.entities.SesionJigsaw) = @{
	val horas = sesionJigsaw.getDuracionReunionJigsaw() / 60
	val minutos = sesionJigsaw.getDuracionReunionJigsaw() % 60
	(horas, minutos) match {
		case (0, _) => minutos + " minuto" + splural(minutos)
		case (_, 0) => horas + " hora" + splural(horas)
		case _ => horas + " hora" + splural(horas) + ", " + minutos + " minuto" + splural(minutos)
	}
}
@sePuedeGenerarGruposExpertos(sesionJigsaw: models.entities.SesionJigsaw) = @{
	val tge = sesionJigsaw.getTotalGruposExpertos();
	val ta = sesionJigsaw.getAlumnos().size();
	val ge = sesionJigsaw.getGruposExpertos().size();
	if( ta > 0 && (ta % tge == 0) && ge == 0 ) true else false
}
@sinAlumnos(sesionJigsaw: models.entities.SesionJigsaw) = @{
	val ta = sesionJigsaw.getAlumnos().size();
	if( ta == 0 ) true else false
}
@main(menuDocente()){
	<h1 id="homeTitle">@Messages("sesionesJigsaw.list.title", currentPage.getTotalRowCount)</h1>
	@inputs.flashSuccessError()
    <div id="actions" class="row">
        <div class="pull-left">
	        <form action="@link(0, "id")" method="GET" class="form-inline" role="form">            
	            <div class="form-group">
	            	<input class="form-control" type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Buscar...">
				</div>
				<button type="submit" class="btn btn-primary" id="searchsubmit">Buscar</button>
	        </form>
        </div>        
        <div class="pull-right">
        	<a class="pull-rigth btn btn btn-success" id="add" href="@routes.SesionJigsawController.interfazNuevo()">Nueva Sesion Jigsaw</a>
        </div> 
    </div>
    <br>
    <div class="row">
    @if(currentPage.getTotalRowCount == 0) {  
    
    	<div class="well">
            <em>Nada para mostrar</em>
        </div>
    
    } else {
      <div class="col-md-12"><br></div>
      <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    @header("tema", "TEMA")
                    @header("inicioReunionExpertos", "REU_EXPERTOS INICIO")
                    @header("duracionReunionExpertos", "REU_EXPERTOS DURACIÓN")
                    @header("inicioReunionJigsaw", "REU_JIGSAW INICIO")
                    @header("duracionReunionJigsaw", "REU_JIGSAW DURACIÓN")
                    @header("totalGruposExpertos", "TOTAL GRUPOS EXPERTOS")
                    @header("etapa", "ETAPA")                    
                </tr>
            </thead>
            <tbody>
            @currentPage.getList.map { sesionJigsaw =>
           	<tr>            	
            	<td>@sesionJigsaw.getTema()</td>

            	<td>@sesionJigsaw.getInicioReunionExpertos().format(FormatoFechaHora.dateTimeFormat12)</td>
            	<td>@stringDuracionRE(sesionJigsaw)</td>
            	<td>@sesionJigsaw.getInicioReunionJigsaw().format(FormatoFechaHora.dateTimeFormat12)</td>
            	<td>@stringDuracionRJ(sesionJigsaw)</td>
            	<td>@sesionJigsaw.getTotalGruposExpertos()</td>
            	<td>@sesionJigsaw.getEtapa()</td>
                
                	@if(sinAlumnos(sesionJigsaw)){
                		<td>
                		<a class="btn btn-info" href="@routes.SesionJigsawController.interfazAsignarAlumnos(sesionJigsaw.getId())">
                			<span>Asignar Alumnos</span>
                		</a>
                		</td>
                	}else{
                		<td>
		                	<a class="btn btn-info" href="@routes.SesionJigsawController.interfazAsignarAlumnos(sesionJigsaw.getId())">
		                		<span>Editar Alumnos</span>
		                	</a>
	                	</td>
	                	<td>
		                	@if(sePuedeGenerarGruposExpertos(sesionJigsaw)){
		                		@helper.form(routes.SesionJigsawController.generarGrupos(sesionJigsaw.getId()), 'class -> "form-horizontal"){
		                			<button type="submit" class="btn btn-warning">Generar Grupos</button>
		                		}                		
		                	}else{
		                		<a class="btn btn-warning" href="@routes.SesionJigsawController.verGruposExpertos(sesionJigsaw.getId())">
		                			<span>Ver Grupos</span>
		                		</a>
		                		<a class="btn btn-warning" href="@routes.SesionJigsawController.asignarProblemas(sesionJigsaw.getId())">
		                			<span>Asignar Problemas</span>
		                		</a>
		                	}
		                </td>
                	}
                
                
                <td>
                	<a href="@routes.SesionJigsawController.editarSesionJigsaw(sesionJigsaw.getId())">
                		<span class="glyphicon glyphicon-pencil">
                	</a>
                </td>
           	</tr>
           	}      
            </tbody>
        </table>
		</div>
        <div id="pagination" class="col-md-12">
            <ul class="pager">
                @if(currentPage.hasPrev) {
                    <li class="previous">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Anterior</a>
                    </li>
                } else {
                    <li class="previous disabled">
                        <a>&larr; Anterior</a>
                    </li>
                }
                <li class="active">
                    <a>Mostrando @currentPage.getDisplayXtoYofZ(" - "," de ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Siguiente &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Siguiente &rarr;</a>
                    </li>
                }
            </ul>
        </div>        
    }
    </div> 
}

