@* listaSesionesJigsaw Template File *@
@(currentPage: com.avaje.ebean.Page[models.entities.SesionJigsaw], 
	currentSortBy: String, currentOrder: String, currentFilter: String)
@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }    
    // Generate the link
    routes.SesionJigsawController.list(newPage, sortBy, order, currentFilter)
}
@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}
@splural(n: Integer) = @{
	if(n==1) "" else "s"
}
@stringDuracionRE(sesionJigsaw: models.entities.SesionJigsaw) = @{
	if(sesionJigsaw.getDuracionReunionExpertos() == null){
		"--"
	}else{
		val horas = sesionJigsaw.getDuracionReunionExpertos() / 60
		val minutos = sesionJigsaw.getDuracionReunionExpertos() % 60
		(horas, minutos) match {
			case (0, _) => minutos + " minuto" + splural(minutos)
			case (_, 0) => horas + " hora" + splural(horas)
			case _ => horas + " hora" + splural(horas) + ", " + minutos + " minuto" + splural(minutos)
		}
	}
}
@stringDuracionRJ(sesionJigsaw: models.entities.SesionJigsaw) = @{
	if(sesionJigsaw.getDuracionReunionJigsaw() == null){
		"--"
	}else{
		val horas = sesionJigsaw.getDuracionReunionJigsaw() / 60
		val minutos = sesionJigsaw.getDuracionReunionJigsaw() % 60
		(horas, minutos) match {
			case (0, _) => minutos + " minuto" + splural(minutos)
			case (_, 0) => horas + " hora" + splural(horas)
			case _ => horas + " hora" + splural(horas) + ", " + minutos + " minuto" + splural(minutos)
		}
	}
}
@stringDuracionEX(sesionJigsaw: models.entities.SesionJigsaw) = @{
	if(sesionJigsaw.getDuracionExamen() == null){
		"--"
	}else{
		val horas = sesionJigsaw.getDuracionExamen() / 60
		val minutos = sesionJigsaw.getDuracionExamen() % 60
		(horas, minutos) match {
			case (0, _) => minutos + " minuto" + splural(minutos)
			case (_, 0) => horas + " hora" + splural(horas)
			case _ => horas + " hora" + splural(horas) + ", " + minutos + " minuto" + splural(minutos)
		}
	}
}
@sinAlumnos(sesionJigsaw: models.entities.SesionJigsaw) = @{
	val ta = sesionJigsaw.getAlumnos().size();
	if( ta == 0 ) true else false
}
@sePuedeGenerarGruposExpertos(sesionJigsaw: models.entities.SesionJigsaw) = @{
	val tge = sesionJigsaw.getTotalGruposExpertos();
	val ta = sesionJigsaw.getAlumnos().size();
	if( ta > 0 && (ta % tge == 0) ) true else false
}
@gruposGenerados(sesionJigsaw: models.entities.SesionJigsaw) = @{
	val ge = sesionJigsaw.getGruposExpertos().size();
	if(ge > 0) true else false
}
@formatDate(date: java.util.Date, f: String) = @{
	if(date != null) date.format(f) else "--"
}
@main(menuDocente()){
	<h1 id="homeTitle">@Messages("sesionesJigsaw.list.title", currentPage.getTotalRowCount)</h1>
	@inputs.flashSuccessError()
    <div id="actions" class="row">
        <div class="pull-left">
	        <form action="@link(0, "id")" method="GET" class="form-inline" role="form">            
	            <div class="form-group">
	            	<input class="form-control" type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Buscar...">
				</div>
				<button type="submit" class="btn btn-primary" id="searchsubmit">Buscar</button>
	        </form>
        </div>        
        <div class="pull-right">
        	<a class="pull-rigth btn btn btn-success" id="add" href="@routes.SesionJigsawController.interfazNuevo()">Nueva Sesion Jigsaw</a>
        </div> 
    </div>
    <br>
    <div class="row">
    @if(currentPage.getTotalRowCount == 0) {  
    
    	<div class="well">
            <em>Nada para mostrar</em>
        </div>
    
    } else {
      <div class="col-md-12"><br></div>
      <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    @header("tema", "TEMA")
                    <th>REUNIÓN DE EXPERTOS</th>
                    <th>REUNIÓN JIGSAW</th>
                    <th>EVALUACIÓN</th>
                    <th>TOTAL DE ALUMNOS</th>
                    <th>TOTAL DE GE</th>
                                     
                </tr>
            </thead>
            <tbody>
            @currentPage.getList.map { sesionJigsaw =>
           	<tr>            	
            	<td>@sesionJigsaw.getTema()</td>

            	<td>
            		<ul class="list-group">
            			<li class="list-group-item">
            				<label>Fecha de inicio: </label>
            				@formatDate(sesionJigsaw.getInicioReunionExpertos(), FormatoFechaHora.dateTimeFormat12)
            			</li>
            			<li class="list-group-item">
            				<label>Duración: </label> @stringDuracionRE(sesionJigsaw)
            			</li>
            			<li class="list-group-item">
            				<label>Total de grupos: </label> @sesionJigsaw.getTotalGruposExpertos()
            			</li>
            			<li class="list-group-item">
		            		<a class="btn btn-info" href="@routes.SesionJigsawController.definirHorarioReunionExpertos(sesionJigsaw.getId())">
		                		Definir horario
		                	</a>
            			</li>
            		</ul>
            	</td>
            	<td>
            		<ul class="list-group">
            			<li class="list-group-item">
            				<label>Fecha de inicio: </label>
            				@formatDate(sesionJigsaw.getInicioReunionJigsaw(), FormatoFechaHora.dateTimeFormat12)
            			</li>
            			<li class="list-group-item">
            				<label>Duración: </label> @stringDuracionRJ(sesionJigsaw)
            			</li>
            			<li class="list-group-item">
            				<label>Total de grupos: </label>
            				@if(sesionJigsaw.getGruposJigsaw != null) { @sesionJigsaw.getGruposJigsaw().size()}
            			</li>
            			<li class="list-group-item">
		            		<a class="btn btn-info" href="@routes.SesionJigsawController.definirHorarioReunionJigsaw(sesionJigsaw.getId())">
		                		Definir horario
		                	</a>
            			</li>
            		</ul>
            	</td>
            	<td>
            	@if(sesionJigsaw.getExamen() == null){
            		<a class="btn btn-info" href="@routes.SesionJigsawController.editarSesionJigsaw(sesionJigsaw.getId())">
                		Asignar examen
                	</a>
            	}else{
            		<ul class="list-group">
            			<li class="list-group-item">
            				<label>Fecha de inicio: </label>
            				@formatDate(sesionJigsaw.getTiempoAperturaExamen(), FormatoFechaHora.dateTimeFormat12)
            			</li>
            			<li class="list-group-item">
            				<label>Duración: </label> @stringDuracionEX(sesionJigsaw)
            			</li>
            			<li class="list-group-item">
            				<label>Total de preguntas: </label> @sesionJigsaw.getExamen().getProblemas().size()
            			</li>
            			<li class="list-group-item">
            				<a class="btn btn-info" 
            					href="@routes.SesionJigsawController.definirHorarioExamen(sesionJigsaw.getId())">Definir horario</a>
            			</li>
            		</ul>
            	}
            		
            	</td>          	
            	
            	<td>@sesionJigsaw.getAlumnos().size()</td>
                
                	@if(sinAlumnos(sesionJigsaw)){
                		<td>
	                		<a class="btn btn-info" href="@routes.SesionJigsawController.interfazAsignarAlumnos(sesionJigsaw.getId())">
	                			<span>Asignar Alumnos</span>
	                		</a>
                		</td>
                	}else{
                		<td>
	                		<a class="btn btn-info" href="@routes.SesionJigsawController.interfazAsignarAlumnos(sesionJigsaw.getId())">
	                			<span>Editar Alumnos</span>
	                		</a>
                		
	                	
	                		@if(!gruposGenerados(sesionJigsaw)){
	                			
	                			@if(sePuedeGenerarGruposExpertos(sesionJigsaw)){
			                		@helper.form(routes.SesionJigsawController.generarGrupos(sesionJigsaw.getId()), 'class -> "form-horizontal"){
			                			<button type="submit" class="btn btn-warning">Generar Grupos</button>
			                		}                		
		                		}else{
		                			<p>Verifique que TOTAL ALUMNOS / TOTAL GRUPOS sea una division exacta</p>
		                		}
		                		</td>
	                		}else{
		                		
		                		<a class="btn btn-warning" href="@routes.SesionJigsawController.verGrupos(sesionJigsaw.getId())">
		                			<span>Ver Grupos</span>
		                		</a>
		                		</td>
		                		<td>
				                @sesionJigsaw.mostrarPares().map { cad => 
				                	<li>@cad</li>
				                }
				                <a class="btn btn-warning" href="@routes.SesionJigsawController.asignarProblemas(sesionJigsaw.getId())">
		                			<span>Asignar Problemas</span>
		                		</a>
				                </td>
		                	}
		                
		                
		                
                	}
                
                
                <td>
                	<a href="@routes.SesionJigsawController.editarSesionJigsaw(sesionJigsaw.getId())">
                		<span class="glyphicon glyphicon-pencil">
                	</a>
                </td>
           	</tr>
           	}      
            </tbody>
        </table>
		</div>
        <div id="pagination" class="col-md-12">
            <ul class="pager">
                @if(currentPage.hasPrev) {
                    <li class="previous">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Anterior</a>
                    </li>
                } else {
                    <li class="previous disabled">
                        <a>&larr; Anterior</a>
                    </li>
                }
                <li class="active">
                    <a>Mostrando @currentPage.getDisplayXtoYofZ(" - "," de ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Siguiente &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Siguiente &rarr;</a>
                    </li>
                }
            </ul>
        </div>        
    }
    </div> 
}

