@* nuevaSesionJigsaw Template File *@
@(sesionJigsaw: models.entities.SesionJigsaw)
@main(menuDocente()){
	<div class="row">
	@inputs.flashSuccessError()
	
	</div>
	@inputs.panel("NUEVA SESIÓN JIGSAW", true){
		@helper.form(routes.SesionJigsawController.registrarSesionJigsaw, 'class -> "form-horizontal"){
			<div class="col-md-12">
				<div class="col-md-6">
					<div class="form-group">
	                   	<label class="col-sm-4 control-label" for="totalGruposExpertos">Total Grupos Expertos</label>
	                    	<div class="col-sm-3">
	                           <input type="number" class="form-control" id="totalGruposExpertos"
	                              name="totalGruposExpertos" required>                            
	                   	</div>
	               	</div>
               	</div>
               	<div class="col-md-6">
	               	<div class="form-group">
	                   	<label class="col-sm-4 control-label" for="tema">Tema</label>
	                    	<div class="col-sm-6">
	                       	<input type="text" class="form-control" id="tema"
	                              name="tema" required>
	                   	</div>
		            </div>
	            </div>
	            
	            <div class="form-group">
				    <div class="col-sm-offset-4 col-sm-8">
				      <button type="submit" class="btn btn-primary">Guardar y Continuar</button>
				      <a class="btn btn-default" href="@routes.SesionJigsawController.index">Cancelar</a>
				    </div>					    
				</div>
	            
			</div>
			           	
            	
            	
		}
		
	}
	<script src="@routes.Assets.at("js/bootstrap-datepicker.js")" type="text/javascript" ></script>
    <script src="@routes.Assets.at("js/locales/bootstrap-datepicker.es.js")" type="text/javascript" ></script>
    <script src="@routes.Assets.at("js/bootstrap-timepicker.min.js")" type="text/javascript" ></script>
}
