@* rendirExamen Template File *@
@(sesionJigsaw: models.entities.SesionJigsaw, examen: models.entities.Examen, alumno: models.entities.Alumno)

@main(menuAlumno()){
	@inputs.firepadHeader()
	<!-- Clock -->
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/clockmain.css")">  
	<style type="text/css">
		.firepad {
		  width: 100%;
		  height: 480px;
		  background-color: #f62; 	  
		}
	</style>
	<style type="text/css">
		#reloj{
			position: fixed;
			bottom: 35px;
			left: 0px;
			width: 300px;
		}
	</style>
	
	<div class="row-fluid">	
	<form class="form" role="form" action="@routes.ExamenController.finalizarExamen(examen.getId(), alumno.getDNI())" method="POST">
		<div role="tabpanel">			
		<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active" ><a href="#instrucciones" 
					aria-controls="instrucciones" role="tab" data-toggle="tab">Instrucciones</a></li>
				@examen.getProblemas().map {p=>
					<li role="presentation" ><a href="#p_@p.getProblema().getId()" 
					aria-controls="p_@p.getProblema().getId()" role="tab" data-toggle="tab">@p.getProblema().getTitulo()</a></li>	
				}				  
			</ul>			
			<!-- Tab panes -->
			<div class="tab-content">
				@examen.getProblemas().map {p=>
					<div role="tabpanel" class="tab-pane" id="p_@p.getProblema().getId()">
						@problemaExamen(p,alumno)
					</div>
				}
				<div role="tabpanel" class="tab-pane active" id="instrucciones">
					<div class="container">
						<h1>IMPORTANTE</h1>
						<ul>
							<li>Desarrolle el problema que se encuentre en cada una de las pestañas</li>
							<li>La solución a cada problema puede ser presentada en cualquiera de los siguientes lenguajes: Python, Java o C++</li>
							<li>Si el problema lo requiere, ingrese en el contenedor INPUT la data de prueba necesaria para ejecutar su código fuente</li>
							<li>Para ejecutar su problema debe presionar el botón <strong>run</strong> </li>
							<li>Cuando termine de desarrollar sus problemas, regrese a esta pestaña y presione el botón <strong>FINALIZAR EXAMEN</strong> para guardar sus respuestas</li>
							
						</ul>
						
					</div>
				</div>			  
			</div>			
		</div>
		
		<div id="reloj">		
		<div class="row">
			<p class="text-center">Tiempo restante: </p>
			<p id="clock"></p>
			<p class="text-center">segundos</p>
			<div class="text-center">
				<button type="submit" id="terminar" class="btn btn-danger">FINALIZAR EXAMEN</button>
			</div>
			<script type="text/javascript" charset="utf-8">
		       if (!!window.EventSource) {
		         var source = new EventSource("@routes.ClockController.clockExamen(sesionJigsaw.getId())");
		         source.addEventListener('message', function(e) {
		            $('#clock').html(e.data.replace(/(\d)/g, '<span>$1</span>'));
		            var terminar = $('#terminar');
		            if(e.data == '0'){
		            	console.log('termino el tiempo');
		            	terminar.trigger('click');
		            }
		         });
		       } else {
		         $("#clock").html("Sorry. This browser doesn't seem to support Server sent event."); 
		       }
		    </script>
		</div>			 
	</div>
		
	</form>
				
	</div>
	
	
}
