<ul class="nav navbar-nav">
	<li><a href="@routes.Application.index">Home</a></li>
	<li class="dropdown"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown">Jigsaw <span class="caret"></span>
	</a>
		<ul class="dropdown-menu" role="menu">
			<li><a href="@routes.Problemas.index">Problemas</a></li>
			<li><a href="@routes.Problemas.interfazNuevo">Nuevo problema</a></li>
			<li class="divider"></li>
			<li><a href="#">Grupos expertos</a></li>
			<li><a href="#">Nuevo grupo experto</a></li>
			<li class="divider"></li>
			<li><a href="#">Sesiones jigsaw</a></li>
			<li><a href="#">Nueva sesión jigsaw</a></li>
			<li class="divider"></li>
			<li><a href="#">Evaluaciones</a></li>
			<li><a href="#">Nueva evaluación</a></li>
		</ul></li>

</ul>
