<ul class="nav navbar-nav">
	<li><a href="@routes.Application.index">Home</a></li>
	<li class="dropdown"><a href="#" class="dropdown-toggle"
		data-toggle="dropdown">Jigsaw <span class="caret"></span>
	</a>
		<ul class="dropdown-menu" role="menu">
			<li><a href="@routes.ProblemaController.index">Problemas</a></li>
			<li class="divider"></li>
			<li><a href="@routes.AlumnoController.index">Alumnos</a></li>
			<li class="divider"></li>
			<li><a href="@routes.SesionJigsawController.index">Sesiones jigsaw</a></li>
			<li class="divider"></li>
			<li><a href="@routes.ExamenController.index">Examenes</a></li>
		</ul></li>

</ul>
